body {
    background-color: PapayaWhip;
    min-width: 300px;
    font-family: 'Times New Roman', Times, serif;
    justify-content: center;
    display: flex;
    font-size: 34px;
} 
td{
  text-align: center; 
  vertical-align: middle;  
  background: LightYellow;
}
td.fixed-td{
  width: 200px; 
  height: 200px;
}
td.content {
    position: relative;
}

span{
  font-size: 34px;
}
div{
  position: relative;
}
img{  
  position: relative;
}

button{ 
  border: 0;
  border-radius: 10px;
  background: Tan;  
  padding: 8px 16px;
  margin: 10px;
  font-size: 30px;
  color: PapayaWhip;
}

button:hover:enabled {
  font-weight:bold;
  box-shadow: 0 0 0 4px Sienna;
  color: Sienna;
}

button:disabled{  
  background: BlanchedAlmond;
}

.circle { 
  border-color: Tan;
  border-style: solid;
  border-width: 5px;
  border-radius: 50%;
  display: relative;
  z-index:2;
}
#proc {
  display: absolute;
  left:90px;
  top:-80px;
  width: 20px; 
  height: 20px;
  background: black;
  border-radius: 50%;
}